<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CASA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col *ngFor="let cuarto of ['banio', 'bodega', 'cocina', 'dormitorio', 'dormitorio2', 'sala']">
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio" [style.background-color]="vidrioColores[cuarto]"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>