<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CASA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
      <ion-col>
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
      <ion-col>
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
      <ion-col>
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
      <ion-col>
        <div class="ventana-estilizada">
          <div class="marco"></div>
          <div class="vidrio"></div>
          <div class="detalle-inferior"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>